#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.screen._activeState-showing {
  opacity: 1;
}

.screen._activeState-hidden {
  opacity: 0;
}

.screen {
  transition: opacity 0.8s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
}

body {
  background-color: #000;
}